* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: rgb(21, 21, 110);
  justify-content: space-between;
}
.logo img {
  max-width: 4rem;
  margin: 1rem;
}
.links {
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links div {
  padding: 0 2rem;
}
.links div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.links div a:hover {
  color: rgba(255, 255, 255, 0.24);
}



.ndiv {
  margin-top: 5vh;
  padding:3vh 10vw;
}

.heading {
  color: rgb(21, 21, 110);
  font-weight: 700;
  font-size: 2rem;
  padding-left: 5vw;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} 

.accordion:hover {
  background-color: #ccc;
}

.active{

  color: white;

  background-color:rgb(21, 21, 110) ;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

@media (max-width: 900px) {
  .links {
    flex-direction: column;
  }
}
